<%= form_with model: article, local: true, class: 'd-flex flex-column justify-content-center p-5' do |article| %>
  <%= article.label :title, 'Title' %><br>
  <%= article.text_field :title %><br>
  <%= article.label :main, 'Main image' %><br>
  <%= article.file_field :main, direct_upload: true %><br>
  <%= cl_image_tag @article.main.key, class: 'w-50 h-50' if @article.main.attached? %>
  <%= article.label :text, 'Write your article' %><br>
  <%= article.text_area :text, rows: 30, class: 'w-100' %><br>
  <%= article.label :photos, 'Add more images if necessary' %><br>
  <%= article.file_field :photos, multiple: true, direct_upload: true %><br>
  <% if @article.photos.attached? %>
  <div class="d-flex flex-wrap w-100">
      <% @article.photos.each do |pic| %>
        <%= image_tag pic, class: "images-article w-25 align-self-center" %>
      <% end %>
    </div>
  <% end %>
  <%= label_tag 'category', 'Choose one or many categories', class: 'py-2' %><br>

  <% Category.all.each do |catg| %>
    <%= label_tag 'categories', catg.name %>
    <%= checked?(@article, catg) %><br>
  <% end %>

  <%= article.submit 'Submit' %>
<% end %>