<%= link_edit_article(@current_user, @article) %>
<h3 class="text-white text-center py-3"><%= @article.title %></h3>
<div class="text-light d-sm-flex justify-content-between py-3">
  <span>written by: <%= @article.author.username %></span>
  <span>Categories: <% @article.categories.map(&:name).each do |name| %>
    <%= "#{name} | "%>
  <% end %>
  </span>
  <%= vote_decision(@current_user.id, @article) %>
  <%= friendship_invitation(@article.author) %>
</div>
<%= cl_image_tag(@article.main.key, class: 'w-100 d-block mx-auto rounded') if @article.main.attached? %>
<%= show_main(@article) %>
<p class="text-white py-4"><%= @article.text[0..(@article.text.length/2)] %></p>
<% if @article.photos.attached? %>
  <div class="d-flex flex-wrap w-100">
    <% @article.photos.each do |art| %>
      <%= image_tag art, class: "images-article w-50 flex-grow-1 align-self-center" %><br>
      <%= link_to 'delete', photos_destroy_path(article_id: @article.id, pic_id: art.id), method: :post, class: 'block w-50 text-center my-auto' %>
    <% end %>
  </div>
<% end %>
<%= attach_photos(@article) %>
<p class="text-white py-4"><%= @article.text[(@article.text.length/2)..-1] %></p>