<% i = 0
switcher = true
sort_by_date(user.articles).each do |article| %>
 <div class="col-sm-6 p-0 d-flex bg-light">
   <div class="w-50 add-background<%= switcher ? ' order-1' : ' order-2' %>" style="background-image: url(<%= main_background(article) %>)">
   </div>
   <div class="w-50 p-2 d-flex flex-column justify-content-between<%= switcher ? ' order-2' : ' order-1' %>">
     <p class="font-weight-bold text-body"><%= article.title %></p>
     <%= vote_decision(@current_user.id, article) %>
     <p class="text-truncate text-dark"><%= article.text[0..50] %>...</p>
     <%= edit_article(@current_user, article) %>
     <% i += 1
        if i > 1
          i = 0
          switcher = switcher ? false : true
        end %>
   </div>
 </div>
<% end %>