<!DOCTYPE html>
<html>
  <head>
    <title>Workout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="background-app text-light">
    <%= display_navbar(@category) %>
    <div class="container">
      <%= display_flahs(flash) %>
      <%= yield %>
    </div>
    <%= display_footer(@category) %>
  </body>
</html>
